body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-container {
  width: 100%;
  height: 1040px;
  display: flex;
}
.container-lateral {
  width: 514px;
  height: 100%;
  background-color: #d3e1d9;
  float: left;
  padding: 74px 114px 74px 114px;
  color: #55917f;
}
.container-lateral p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 74px;
}
.beauty-hair-logo a {
  color: #55917f;
  font-size: 20px;
  margin: 0 0 30px 0;
  display: flex;
  float: left;
}
.container-cadastro {
  display: flex;
  padding: 80px 255px 80px 255px;
}
.header-cadastro h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
.header-cadastro p {
  font-size: 13px;
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 14px 0 4px;
}
input {
  width: 416px;
  font-size: 14px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
}
a {
  color: #4f3cc9;
  float: left;
  font-size: 14px;
}
.checkbox {
  width: 24px;
  font-size: 14px;
  height: 16px;
}
.input-botao {
  text-align: center;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 208px;
}
.botao-entrar {
  background-color: #fff;
  color: #55917f;
}
.botao-cadastrar {
  background-color: #55917f;
  color: #fff;
  margin-bottom: 45px;
}
button {
  width: 416px;
  font-size: 14px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
}
.prestador {
  float: right;
  font-size: 13px;
  color: #4f3cc9;
}

