body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.barra-inicial {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.beauty-hair-logo {
  width: 200px;
  height: 100%;
}
.beauty-hair-logo a {
  color: #38023b;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  display: flex;
}
.cadastrar-entrar {
  height: 100%;
  float: right;
}
.cadastrar-entrar ul li {
  display: inline-block;
  margin: 24px 24px 24px 0px;
}
.entrar {
  height: 35px;
  float: right;
  border-radius: 8px;
  background-color: #38023b;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
}
.entrar a {
  color: #fff;
}
.criarConta {
  height: 35px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #38023b;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
}
.criarConta a {
  color: #38023b;
}
.container-background {
  background: #38023b;
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
}
.lista-pesquisa {
  justify-content: center;
  border-radius: 15px;
  margin-top: 28px;
  position: absolute;
  background: #fff;
  width: 702px;
  height: 64px;
}
.img-container-background {
  padding-top: 47.2px;
  object-fit: contain;
}
.lupa {
  float: left;
  height: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
}
.lista-itens {
  float: left;
  height: 64px;
  font-size: 14px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}
.lista-pesquisa ul {
  height: 64px;
}
.lista-pesquisa ul li {
  display: inline-block;
}
.seta {
  float: right;
  height: 64px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 32px;
  padding-right: 32px;
}