body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.barra-inicial {
  width: 100%;
  height: 80px;
  display: flex;
}
.beauty-hair-logo {
  width: 200px;
  height: 100%;
}
.beauty-hair-logo a {
  color: #38023b;
  font-size: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  display: flex;
}
.cadastrar-entrar {
  width: 400px;
  height: 100%;
  right: 0px;
}
.cadastrar-entrar ul li {
  display: inline-block;
  margin: 24px;
}
.entrar {
  padding-left: 33px 10px 30px 10px;
  font-size: 14px;
}

/* .cadastrar-entrar
{
  width: 200px;
  height: 100%;
  position: relative;
  float: right;
}
.cadastrar-entrar a
{
  padding-top: 33px;
  padding-bottom: 33px;
} */
