body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
.main-container {
    width: 100%;
    height: 1040px;
    display: inline-block;
}
.barra-inicial {
    height: 80px;
    width: 100%;
}
.barra-inicial p {
    margin: 26px 24px 26px 24px;
    font-size: 24px;
    color: #38023B;
    display: inline-block;
}
.user-img {
    float: right;
    margin: 17px 24px 17px 24px;
}
.container-lateral {
    width: 514px;
    height: 100%;
    background-color: #38023B;
    float: left;
    padding: 50px 114px 50px 114px;
    color: #9882AC;
}
.container-lateral p {
    font-size: 24px;
    font-weight: bold;
}
.container-profissional {
    display: flex;
    padding: 50px 80px 50px 80px;
}
.header-profissional h1 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
  }
.divisor {
    height: 2px;
    width: 200px;
    margin-bottom: 43px;
    background-color: #E5E5E5;
}
.container-perfil {
    width: 640px;
    height: 560px;
    background-color: #F0F0F0;
    border-radius: 15px;
}
.container-titulo {
    width: 100%;
    height: 39px;
    display: flex;
    padding: 9px 40px 9px 40px;
    background-color: #38023B;
    border-radius: 15px 15px 0px 0;
}
.container-titulo p {
    width: 500px;
    font-size: 18px; 
    color: #ffffff; 
}
.container-titulo img {
    float: right;
    margin-left: 10px;
}
.foto-perfil {
    display: inline-block;
    width: 114px;
    height: 114px;
    background-color: #9882AC;
    margin: 38px 54px 30px 32px;
    border-radius: 10px;
}
.lista-profissional {
    width: 400px;
    margin-top: 60px;
    margin-right: 32px;
    float: right;
}
.lista-profissional ul li {
    padding-bottom: 10px;
    font-size: 14px;
}
.descrição {
    width: 640px;
    float: left;
    margin-left: 32px;
}
.descrição p {
    margin-top: 30px;
    margin-bottom: 8px;
}
.divisor-descrição {
    height: 2px;
    width: 200px;
    margin-bottom: 10px;
    background-color: #C4C4C4;
}
.texto-descrição {
    width: 576px;
    height: 62px;
    border-radius: 10px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
}
.fotos {
    display: inline-block;
    width: 576px;
    height: 135px;
    margin-top: 32px;
    background-color: #C4C4C4;
    border-radius: 10px;

}